body, html {
  margin: 0px;
  padding: 0px;
  font-size: 12vw;
}
.maincontainer{
  position: absolute;

}
.my{
  font-family: 'JollyRoger';
      src: url(JollyRoger.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
      position: absolute;
      margin-left: 29vw;
      margin-top: 9.7vw;
      font-size: .7em;
      letter-spacing: -.8vw;
      color: purple;
        -webkit-text-stroke: .2vh yellow;
}
.HOMEWORK{
  font-family: 'JollyRoger';
      src: url(JollyRoger.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
      position: absolute;
      margin-left: 16vw;
      margin-top: 23vw;
      font-size: 1.2em;
      color: purple;
      letter-spacing: -1.1vw;
      -webkit-text-stroke: .2vh yellow;
}
.caslon{
  font-family: 'Caslon Open Face';
  src: url(CaslonOpenFace.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  display: flex;
  margin-left: 11.8%;
  font-size: .39em;
  position: absolute;
  margin-top: -1vh;
}
.first{
  font-family: 'Roboto Condensed';
      position: absolute;
      transform: scale(.8, 1);
      FONT-SIZE: .23em;
      COLOR: WHITE;
      MARGIN-LEFT: 38.3VW;
      MARGIN-TOP: 34VW;
}
.second{
  font-family: 'Roboto Condensed';
  position: absolute;
  transform: scale(.8, 1);
  FONT-SIZE: .23em;
  COLOR: WHITE;
  MARGIN-LEFT: 47.3VW;
  MARGIN-TOP: 37VW;
}
.third{
  font-family: 'Roboto Condensed';
  position: absolute;
  transform: scale(.8, 1);
  FONT-SIZE: .23em;
  COLOR: WHITE;
  MARGIN-LEFT: 50.3VW;
  MARGIN-TOP: 40VW;
}
.michroma{
  transform: scale(1, .8);
      font-family: 'Michroma';
      position: absolute;
      FONT-SIZE: .14EM;
      COLOR: WHITE;
      MARGIN-LEFT: 46VW;
      MARGIN-TOP: 33VW;
}
.mrseaves{
  font-family: "mrs-eaves";
  font-style: italic;
  font-size: .3em;
  position: absolute;
  margin-top: 24vw;
  margin-left: 3vw;
  margin-right: 86.3vw;
  text-align: center;
  line-height: 1.5em;
}
.digital{
  font-family: "mrs-eaves";
      font-style: italic;
      font-size: .23em;
      position: absolute;
      margin-top: 83vw;
      margin-left: 3vw;
      margin-right: 86.3vw;
      text-align: center;
      line-height: 1.5em;
  }
  .glyphs{
    font-family: "mrs-eaves";
    font-style: italic;
    font-size: .3em;
    position: absolute;
    margin-top: 76.7vw;
    margin-left: 5vw;
    margin-right: 78.3vw;
    text-align: center;
    line-height: 1.5em;
    }

.arial{
  font-family: arial;
  position: absolute;
  font-weight: bold;
  font-size: .18em;
  letter-spacing: 2.9em;
  margin-top: 9.8vw;
  margin-left: 12vw;
}
img{
width: 100%;
height: auto;
}
